<manifest package="com.seuprojeto.cadastrolivro"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="CadastroLivros"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Segunda tela -->
        <activity android:name=".DetalhesActivity" />

        <!-- Primeira tela -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
